/* Sidebar */

@import '/src/styles';

.sidebar {
  background: $sidebar-gradient;
  font-family: $type-1;
  width: $sidebar-width-lg;
  min-height: calc(100vh - #{$navbar-height});
  padding: 0;
  transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
  -webkit-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
  -moz-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
  -ms-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
}

.sidebar .nav {
  padding: 0;
  margin: 0;
}

.sidebar .nav-icon {
  width: 1rem;
  height: 1rem;
}

.sidebar .nav-item {
  list-style: none;
}

.sidebar .nav-link {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.sidebar .text-wrapper {
  padding: 1rem;
}