/* Sidebar */

@import '/src/styles';

.sidebar {
  background: $sidebar-gradient;
  font-family: $type-1;
  width: $sidebar-width-lg;
  min-height: calc(100vh - #{$navbar-height});
  height: 100%;
  padding: 0;
  transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
  -webkit-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
  -moz-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
  -ms-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
}

.sidebar .profile {
  text-align: center;
  text-align: -webkit-center;
  border-radius: 100%;
  background-color: $sidebar-light-bg;
  width: calc(#{$sidebar-width-lg} - 2rem );
  height: calc(#{$sidebar-width-lg} - 2rem );

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5.8px);

}

.sidebar .profile > img {
  width: calc(#{$sidebar-width-lg} - 3rem );
  height: calc(#{$sidebar-width-lg} - 3rem );
  padding-top: 0.5rem;
}

.sidebar .profile-username {
  margin-top: .5rem;
  font-size: 2rem;
}

.sidebar .nav {
  padding: 0;
  margin: 0;
}

.sidebar .nav-icon {
  width: 1rem;
  height: 1rem;
}

.sidebar .nav-item {
  list-style: none;
}

.sidebar .nav-item.home {
  padding-top: 1rem;
}

.sidebar .nav-link {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-link.home {
  margin-left: 0;
  flex-direction: column;
}

.sidebar .text-wrapper {
  padding: 1rem;
}