<nav class="sidebar">
    <ul class="nav">
        <li class="nav-item home">
          <a id="Home" class="nav-link home" (click)="clickedMenu($event)" routerLink="/dashboard">

            <div class="profile">
              <img src="assets/img/my-profile.png">
            </div>
            <div class="profile-username">
              {{ user.name }}
            </div>

          </a>
        </li>

        <li *ngFor="let menu of menus;" class="nav-item">
          <a id="{{ menu.title }}" class="nav-link" (click)="clickedMenu($event)" routerLink="{{ menu.link }}">
            <img class="nav-icon" src="{{ menu.icon }}">
            <div class="text-wrapper">
              {{ menu.title }}
            </div>
          </a>
        </li>
    </ul>
</nav>
