/*     Color     */
$white: #fff;
$blue: #00F;
$main-color-1: #67D5B5;
$main-color-2: #D7FFF1;
$main-color-3: #fe5e7f;
$main-color-4: #ffc2d3;
$main-dark-color-1: #011627;

// $sub-color-1: ;
// $sub-color-2: ;
/*****************/

/*     Font     */
$type-1: sans-serif;
/****************/

/*    Sidebar    */
$sidebar-light-profile-bg: rgba(255, 255, 255, 0.5);
$sidebar-profile-name-color: $main-dark-color-1 !default;

$sidebar-gradient-color-1: $main-color-1;
$sidebar-gradient-color-2: $main-color-2;

$nav-item-gradient-color-1: $main-color-3;
$nav-item-gradient-color-2: $main-color-4;

$sidebar-width-lg: 250px;

$sidebar-light-menu-color: $main-dark-color-1;
$sidebar-light-menu-active-bg: $white;
$sidebar-light-menu-active-color: $main-dark-color-1;
$sidebar-light-menu-hover-bg: linear-gradient(to right, $nav-item-gradient-color-1, $nav-item-gradient-color-2 77%);
$sidebar-light-menu-hover-color: $white;
$sidebar-gradient: linear-gradient(to top, $sidebar-gradient-color-1, $sidebar-gradient-color-2);

/*****************/

/*    Navbar    */
$navbar-height: 0px;
/****************/

/*  Animation  */
$action-transition-duration: 0.25s;
$action-transition-timing-function: ease;
/***************/